[2021-07-09 00:26] HybridSolutions opened #10 "NuGet Package Info"
Hi,

great initiative! Trying it out.
Just wanted to suggest to add Project Url to Nuget info since it's not appearing. Had to search google for this project ;)

Also wanted to say I found a couple of issues while using it. In my case I have 3 .scss files:

_init.scss (imported in both plugins.scss and style.scss)
plugins.scss
style.scss

so unless I specify in the appsettings.json the path\\style

[2021-09-07 12:49] Martin-Andersen opened #12 "Version stamp on generated files"
Are there planes for creating version stamps on the generated files? Then your SassCompiler would be a complete soulution without any node or other npm packages.

Anyway thanks for making this great nuget packages

[2021-09-08 20:44] sleeuwen commented on #12
Hi! Thanks for your interest in this project.
Currently we do not have any plans for version stamps on the generated files (I take it you mean things like site.[hash].css).
We think the default `asp-append-version` tag helper is a great replacement for this. Please let us know if that would work for you too.

[2021-09-08 21:14] sleeuwen commented on #10
Hi! Sorry for the late reply, it must have slipped through.

We actually do have the source repository linked in the nuget package. But today I tried searching for SassCompiler on nuget and found out there was a package "GeekInc.AspNetCore.SassCompiler". That is a different package as we publish it as "AspNetCore.SassCompiler". Are you using the former or the latter?

As for the issue you're havin

[2021-09-09 09:16] Martin-Andersen commented on #12
I am working a lot with blazor wasm at the moment so I can't use the asp-append-version tag

[2021-09-13 19:58] sleeuwen commented on #12
You're right, in blazor wasm the tag helper isn't available.
In that case I don't see a good way we could add version stamps to the file as the files need to be referenced in the index.html file (other than finding the link tags in the html and updating them, which isn't something we intend to do).

Also, it seems to me this is something that should be fixed in general either by the asp.net team o

[2021-09-29 18:56] DatReki opened #23 "Sass compiler continuously restarting"
When I installed this package it continuously kepts restarting.
This is what it produces in my console (just keeps outputting the same thing)
[code]
![Image of the issue](https://cdn.discordapp.com/attachments/406006274661154818/892846412776235041/unknown.png)

I copied my project and removed everything till I was down to a basic ASP MVC template. Issue was still there. [I put it on my secondary G

[2021-09-29 19:33] sleeuwen commented on #23
Thanks for reporting the issue and creating the repo, is it possible you're first project has a space somewhere in the directory hierarchy but the test project does not?

We have had an issue before with spaces and fixed it during dotnet publish, but I just tested it and get the same error as you have using the compiler service. I've created a fix for this and released it as 1.42.1.1, can you try

[2021-09-29 19:59] DatReki commented on #23
That does seem to indeed have fixed the issue for me. On both projects the issue disappeared.

[2021-09-29 19:59] #23 closed

[2021-09-30 21:56] bbqchickenrobot opened #25 "Error When Building Project"
1. Can't find stylesheet to import
2. AspNetCore.SassCompiler.targets(34, 5): [MSB3073] The command ""/Volumes/NVMeSSD/bbqchickenrobot/.nuget/packages/aspnetcore.sasscompiler/1.42.1.1/build/../runtimes/osx-x64/sass" --style=compressed "/Volumes/NVMeSSD/bbqchickenrobot/projects/preston/OpenSeaBot/src/OpenSeaScraper/Assets/scss":"/Volumes/NVMeSSD/bbqchickenrobot/projects/preston/OpenSeaBot/src/OpenS

[2021-10-01 17:49] sleeuwen commented on #25
I've tried replicating your problem and found that if I create a Assets/scss/site.scss file which contains `@import "doesnt_exist.scss";`, it will result in the same issue as you're having. This currently results in a build error, because we will build the scss files on either `dotnet build` or `dotnet publish` and any errors during compilation of the scss will be propagated as build errors.

Can

[2021-10-01 17:51] #10 closed

[2021-10-05 11:30] #12 closed

[2021-10-07 21:45] TheAtomicOption opened #27 "Multiple source/target, .min naming, and earlier build step for Blazor"
**Issue**
I like the simplicity of this nuget, and was hoping to use this to compile sass to scoped css files for a Blazor Server project. This currently doesn't work as expected for three reasons.

1. AFAICT SassCompiler doesn't have a way to name compressed output files `[file].min.css` instead of `[file].css` when doing many to many.
1. SassCompiler targets before CopyToOutputDirectory, so it d

[2021-10-14 23:44] ennerperez opened #29 "Sass watcher with GenerateAssemblyInfo=false"
**Sass command not found, not watching for changes.**
GetSassCommand() is returning null when Sass watcher was enable and GenerateAssemblyInfo was false.

**To Reproduce**
Steps to reproduce the behavior:
1. Set GenerateAssemblyInfo to false in csproj file
2. Add the Sass watcher to your startup.cs.
3. Run the application

**Expected behavior**
The GetSassCommand() method able to find the ../runti

[2021-10-22 04:38] ennerperez opened #31 "Dart Zombie Process on Windows"
**Dart Zombie Process After Stop Every Debug Session**
Every time I start a debug session the Sass Watch (dart) starts but don't terminate when running session is stopped manually o even for an exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Debug
2. Monitor process
3. Stop debug session
4. See Zombie Process

**Expected behavior**
Send dart.exe Termination when main application e

[2021-10-24 14:00] #31 closed, assigned to nobody

[2021-11-18 17:18] karel947 opened #37 "CSS isolation support"
**Is your feature request related to a problem? Please describe.**
When using files like *.cshtml.scss, there is problem, that generated file has extension .cshtml.css e.g.: in wwwrooot and during build I am getting following exception:

`The scoped css file 'wwwroot\css\Test.cshtml.css' was defined but no associated razor component or view was found for it.	`

It is Razor Pages project, .NET 6.0,

[2021-11-25 07:01] koenvzeijl commented on #37
Hi @karel947 , The whole approach to generating CSS has been changed by @sleeuwen  to also support CSS isolation. Could you please try v1.43.5.1 and see it this suits your needs? It has now also support for Blazor

[2021-11-25 07:01] koenvzeijl commented on #27
Hi @TheAtomicOption , The whole approach to generating CSS has been changed by @sleeuwen  to also support CSS isolation. Could you please try v1.43.5.1 and see it this suits your needs? It has now also support for Blazor.

[2021-12-03 11:57] koenvzeijl commented on #27
@TheAtomicOption For now I will close this issue. Feel free to open it again if the newly implemented solution doesn't work for you.

[2021-12-03 11:57] #27 closed

[2021-12-03 11:59] koenvzeijl commented on #25
@bbqchickenrobot This should all be resolved by #36 can you check if everything works fine for you. I will close this issue. If the problem still occurs feel free to open it again.

[2021-12-03 11:59] #25 closed

[2021-12-08 02:41] TiKevin83 commented on #29
I'm also getting this issue on 1.44.0

[2021-12-09 02:49] FWindson opened #41 "“Could not load file or assembly 'System.Runtime, Version=4.2.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. ” in visual studio"
**Describe the bug**
console error after installing AspNetCore.SassCompiler on Visual studio 2022 (and Visual studio 2020, width .NET 5) :
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	MSB4062
未能从程序集 C:\Users\Windson\.nuget\packages\aspnetcore.sasscompiler\1.44.0\build\..\lib\netcoreapp3.1\AspNetCore.SassCompiler.dll 加载任务“AspNetCore.SassCompiler.CompileSass”。Could not load file or assembly 'System.Runtime, Version=

[2021-12-09 02:57] FWindson commented on #41
I found that AspNetCore.SassCompiler 1.43.5(or lower version) works, 1.43.5.1(or higher version) console error on visual studio.

[2021-12-10 10:30] #41 closed

[2021-12-10 12:40] sleeuwen commented on #41
Hi @FWindson,
Thanks for reporting the issue. In version 1.43.5.1 we changed the way we call the sass process to allow for more flexibility, but as you found out it didn't work correctly when run in VS.
This should now be fixed and available in v1.44.0.1. If that version still doesn't workf or you, feel free to reopen this issue.

[2021-12-14 15:59] P-Storm opened #44 "Docker support"
Currently the code below is throwing an error (as is logical) in a docker container.

[code]

Maybe add a note that it isn't supported in docker container (also discovered that hot reload isn't standard enabled in a docker container).

[2021-12-14 21:59] wvdhouten opened #45 "Make SassCompilerOptions public to configure Options in code instead of appsettings"
**Is your feature request related to a problem? Please describe.**
The current implementation forces to configure the options through an appsettings.json file. A lot of other middleware allows a "services.Configure<xy>()" solution, when the Options are public.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I recko

[2021-12-15 11:42] deMD opened #46 "SassCompiler keeps restarting in .Net 6 Razorpages"
**Describe the bug**
When installing the package and adding the appsettings I see that the sass compiler keeps restarting and no sass files are ever compiled. The compiler does seem to work when GenerateScopedCss is set to false.

Log excerpt:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new .Net 6 Razor Webapp
2. Install SassCompiler
3. Add config and Service
4. run the a

[2021-12-16 19:45] sleeuwen commented on #45
Hi, Thanks for your interest in the project.

There is a reason we made the options class internal and don't allow you to configure it in code, and that is because we run the compilation in two different times, once during development and once during publish, and we have to make sure they use the same configuration.
During development you can run the compiler using the `.AddSassCompiler()` service

[2021-12-16 20:25] sleeuwen commented on #46
Hi, I've just double checked this with a `dotnet new webapp`, and managed to reproduce the same error when I set the SourceFolder appsetting to "Pages", is that the case for your project as well?

I can see it complains about a duplicate source for the Pages folder on the second log line. This is because when GenerateScopedCss is true it will automatically add that directory, I think we would need

[2021-12-16 20:28] deMD commented on #46
Yeah that is the case for my project as well, it's the default when working with Razor Pages :)

[2021-12-16 20:49] sleeuwen commented on #44
Hi, thanks for reporting this, I don't work much with docker so I wasn't aware that it didn't work. I will definitely add a note to the readme about that.

I understand it you're using a docker container during development, correct? I think it's worth investigating if we can make it work for that scenario, but I don't have much experience with developing in a docker container so I'll have to look

[2021-12-19 13:51] #46 closed

[2021-12-19 22:11] wvdhouten commented on #45
OK, I guess I could add an additional file called sasscompilerconfig.json, and add that to my config loader. I suppose that would solve the "Copy if newer" issue

[2021-12-19 22:11] #45 closed

[2021-12-24 13:43] deMD commented on #46
If I define the folders in the appSettings the error is still thrown. The package does work is I don't use the 'ScopedCssFolders' setting

[2022-01-02 16:13] Akinzekeel opened #51 "Blazor WASM project does not build"
When using the `AspNetCore.SassCompiler` package in a Blazor WebAssembly project, the build process fails with the following error:

`error NETSDK1082: Für "Microsoft.AspNetCore.App" stand für den angegebenen RuntimeIdentifier "browser-wasm" kein Runtimepaket zur Verfügung.`

**To Reproduce**
Steps to reproduce the behavior:
1. dotnet new blazorwasm
2. dotnet add package AspNetCore.SassCompiler
3.

[2022-01-02 16:53] aDisplayName commented on #51
Same here. Also, @Akinzekeel , high five for working in new year!

[2022-01-05 12:35] salarcode opened #52 "Changing Build Task Event"
Hi, first of all thanks the compiler package it really helps.

I'm trying to use both `BuildBundlerMinifier` and your sass compiler but sass msbuild task is running after the one for  `BuildBundlerMinifier`.
This is causing me some trouble as bundle needs to happen after the sass compile.

Here is what is configured for  `BuildBundlerMinifier`
`<Target Name="BundleMinify" AfterTargets="CompileType

[2022-01-10 19:27] #52 closed

[2022-01-10 21:14] sleeuwen commented on #52
Hi! Thanks for reporting the issue, I've updated the BeforeTargets to run before BundleMinify (if it exists). This is available in version 1.47.0 that we just published.

[2022-01-12 22:55] salarcode commented on #52
Confirming that it works, thanks

[2022-01-25 18:44] Mr-Badger opened #57 "Ability to watch multiple projects"
When I first tried using this package I immediately ran into problems with the watch feature. In our solution we split modules between multiple projects where the startup project has almost no code to speak of, only the startup code. After testing it for some time and looking through this repository I came to the conclusion that the current solution is only adding folders from the startup director

[2022-01-25 20:30] sleeuwen commented on #51
Hi, this project currently doesn't support blazor wasm. The reason for this is that we use an IHostedService to implement the watch functionality.
I currently don't know of a way to add that for a blazor wasm project. Technically we could package only the compiler and msbuild task so you can use it without a watcher, but that would require a rebuild every time you change the sass/scss files which

[2022-03-20 13:53] sygmond commented on #51
@Akinzekeel check out my forked version [here](https://github.com/sygmond/AspNetCore.SassCompiler). The NuGet package I named it [AspNetCore.SassCompiler.Blazor.CI](https://www.nuget.org/packages/AspNetCore.SassCompiler.Blazor.CI/). Test it out.

Short story about changes:
- autogenerated config file named `sasscompiler.json` (settings are not inside `appsettings.json` anymore)
- ability to use `s

[2022-03-31 16:32] #51 closed

[2022-04-07 12:31] vertonghenb opened #66 "Support for Razor Class Library"
It would be nice to see support for stand-alone support in Razor Class Libraries.
For example:
All my components (I'm using Blazor) reside in a separate Razor Class Library, it would be nice that on build the transpiler is triggered and can be linked to the Razor Class Library and not a Runable project.

[2022-04-10 16:56] sleeuwen commented on #66
Hi @vertonghenb , It would definitely be great if this library can be used for Razor Class Libraries as well.

I've tried to add a RCL sample project to the samples and reference it in our Blazor Wasm sample project and got it working in the latest v1.50.0! This is what I had to do to get it working
- reference AspNetCore.SassCompiler in the RCL project
  - set `ReferenceOutputAssembly="false"` on

[2022-04-11 06:35] #66 closed

[2022-04-11 12:41] luckyluggi opened #68 "Sass watcher Suport for Blazor WASM"
**Is your feature request related to a problem? Please describe.**
Sass watcher is currently only supported for Blazor Server

**Describe the solution you'd like**
It would be Great if it would also be supported for Blazor WASM

**Describe alternatives you've considered**
Currently i am running a sass watcher plugin in vscode.
I have not found a solution to watch the sass files in Visual Studio fo

[2022-04-11 12:55] aDisplayName commented on #68
Hi, @luckyluggi , the problem has been addressed in #51 , and you can use  package version 1.50.0 or later.

[2022-04-11 13:19] koenvzeijl commented on #44
@P-Storm Could you try to check if your issue has been resolved with the latest version?

[2022-04-11 14:57] luckyluggi commented on #68
Ok thanks for the info. I've just tried it. It works with Visual studio, but when i run it with dotnet watch i always get the following error:
"More than one scoped css files were found for the razor component"
Do i need to configure something more?

i have this in the Program.js:
[code]

and this in the sasscompiler.json
[code]

[2022-04-12 06:08] luckyluggi commented on #68
Here is an example project showing the problem:
https://github.com/luckyluggi/blazor_wasm_sasscompiler_mvp

Repro steps:
- run the project via `dotnet watch`
- change the color in `Pages\Index.razor.scss` and save
- press `Strg + R` in the watching terminal

[2022-04-13 15:20] mfgabriel92 commented on #68
Hi,

I am not sure if I am understanding it correctly. I am using VS 2022 and I placed my SASS files within the Styles folder, but they are only compiled after a manual rebuild of the project. Is it supposed to be like this? I was expecting it to automatically update upon saving the SASS file.

[2022-04-28 06:21] adiessl opened #71 "GenerateScopedCss: CompileSass task hangs if 50 or more SCSS files have to get compiled"
# Describe the bug

If `AspNetCore.SassCompiler` is used in a project that has at least 50 SCSS files that have to be compiled it cannot be built.

# To Reproduce

**Steps to reproduce the behavior**

Checkout the following repository: https://github.com/adiessl/SassCompilerTest

`dotnet build .\BlazorApp\BlazorApp.csproj` --> 50 of 250 SCSS files get compiled, then it hangs

Attempting to stop th

[2022-04-28 07:09] adiessl commented on #71
I debugged it and found the solution, see PR #72.

[2022-04-28 08:00] #71 closed

[2022-04-28 08:02] koenvzeijl commented on #44
@P-Storm I will close this for now. If the problem still occurs, feel free to open this again

[2022-04-28 08:02] #44 closed

[2022-05-02 01:18] RacerDelux opened #73 "Invalid JSON String - JSON does not support comments"
**Describe the bug**
SassCompiler errors out when comments are present in appsettings.json

**To Reproduce**
Add a comment in your appsettings.json file.

**Expected behavior**
Comments are ignored

**Screenshots**
![image](https://user-images.githubusercontent.com/2667344/166173534-2068988b-1bae-436c-a57a-8b871ca31739.png)

[2022-05-02 01:29] RacerDelux opened #74 "Support Maui Blazor"
**Is your feature request related to a problem? Please describe.**
Hot Reload not working on Maui Blazor projects.

**Describe the solution you'd like**
Support for Maui Blazor Projects.

**Describe alternatives you've considered**
There really isn't any.

**Additional context**
I also get this error the second time I try to build a project:
![image](https://user-images.githubusercontent.com/26673

[2022-05-02 19:06] sleeuwen commented on #74
Hi, first of all I want to say that I haven't used Maui nor do I have the time to look into it, so this answer is based on what I do know regarding Blazor WebAssembly.

We currently don't support the .NET hot reload functionality with scss files. In ASP.NET Core/Blazor server we can work around this by using the sass watch command that will automatically recompile the scss whenever it changes, whi

[2022-05-02 19:09] sleeuwen commented on #73
Are you sure the problem is because of comments in the app settings.json? If so can you provide an example file with which you get this error.

We use comments in the appsettings.json in multiple of our examples which are able to build correctly (e.g. https://github.com/koenvzeijl/AspNetCore.SassCompiler/blob/master/Samples/AspNetCore.SassCompiler.Sample/appsettings.json)

[2022-05-02 19:15] sleeuwen commented on #68
As far as I know this isn't currently possible in Blazor Wasm projects.

In the ASP.NET Core version we spawn a process that watches the files. But because Blazor Wasm runs in the browser this isn't possible.

I've looked at dotnet-watch and can add the .scss extension as hot-reloadable, but it will only see it as static files and I didn't see a way to change that.

[2022-05-03 11:14] LucGosso opened #77 "SassCompilerHostedService: sass command not found, not watching for changes."
**Describe the bug**
We're getting:

fail: AspNetCore.SassCompiler.SassCompilerHostedService[0]
      sass command not found, not watching for changes.

**To Reproduce**
We dont know really, we use .net6 with several components (MVC + BlazorServer)

with .net5 it worked, some where on the way adding dependencis and upgrade packages, it stopped working.

we use in appsettings.json

  "SassCompiler"

[2022-05-03 12:40] LucGosso commented on #77
looks like we are missing "bin\\debug\\.net6\\runtimes\\win-x64\\src\\dart.exe" ... missing reference?

[2022-05-03 14:49] LucGosso commented on #77
So downgrading to version 1.50.0 works, file is copied to bin\debug\.net6\runtimes\win-x64\src\dart.exe

but not on 1.50.0.1 or later.

[2022-05-04 12:35] DatReki commented on #77
Seem to have the same issue. Have an ASP.NET Core MVC project which uses .net 5 and is having the same issue. Downgrading to 1.50.0 also fixed it for me.

[2022-05-04 16:03] adiessl opened #80 "Missing license information"
This project does not have a license attached at the moment. In order for us to be able to use this in our software products and be legally safe we need information about the licenses of the external dependencies we are using.

Adding a license should be relatively simple as it can be done here:
https://github.com/koenvzeijl/AspNetCore.SassCompiler/community

[2022-05-04 20:10] andez2000 commented on #73
I had the same issue tonight (just to piggy back on the problem)

I copied the config from https://github.com/koenvzeijl/AspNetCore.SassCompiler#configuration into sasscompiler.json

[code]

Noticed this error when I ran.

[2022-05-05 06:17] adiessl commented on #73
You probably read over the following sentence (just as I did), @andez2000:

So the content of `sasscompiler.json` should be:

[code]

[2022-05-05 06:21] #80 closed

[2022-05-05 06:22] koenvzeijl commented on #73
Do you prefer making this statement bold in the readme or add a small extra section for sasscompiler.json to remove confusion?

[2022-05-05 06:31] adiessl commented on #73
I would say having one code snippet for `appsettings.json` and one for `sasscompiler.json` is probably the best way to avoid confusion. This also allows simply copying the configuration without having to adjust it afterwards.

[2022-05-05 09:23] andez2000 commented on #73
I did...  And removed the comments last night and all was ok, cheers.

[2022-05-05 15:20] RacerDelux commented on #73
@andez2000 had the exact same experience as me.
I took the config code from the example and tried it both with the `appsettings.json` and the `sasscompiler.json` making the appropriate changes (removing the `SassCompiler` node). It only worked until I removed the comments andez highlighted in red in the previous comment.

[2022-05-05 19:24] #73 closed

[2022-05-05 19:24] #77 closed

[2022-05-05 19:42] sleeuwen commented on #73
@RacerDelux there was an issue with the json comment handling, it should now work with comments in the new version v1.51.0.3. I've also updated the readme and added a warning if we detect the SassCompiler property is used within the sasscompiler.json file.

[2022-05-05 19:43] sleeuwen commented on #77
This should now be fixed in the latest version v1.51.0.3

[2022-05-10 08:21] adiessl opened #86 "Unit / Integration tests"
First of all, thank you for providing this NuGet package @koenvzeijl and @sleeuwen (and thanks for the swift merges of my PRs 😉). We have been able to integrate it into our development process where it replaced [LibSassBuilder](https://github.com/johan-v-r/LibSassBuilder). Its advantage is not only that it is using Dart Sass, it also seems to do the compilation quite a bit faster. Comparing the co

[2022-05-11 21:26] mrlife opened #87 "Support for css isolation in Blazor Server on m1 Mac"
**Describe the bug**
Building the project doesn't update the .razor.css file when there are changes to the .razor.scss file.

**To Reproduce**
Steps to reproduce the behavior:
1. Change a color in a .razor.scss file
2. Build the project
3. Look at the associated .razor.css file for the change
4. See no change

**Expected behavior**
CSS isolation appears to be [supported](https://github.com/koenvze

[2022-05-12 07:15] adiessl commented on #87
What version of `AspNetCore.SassCompiler` are you using, @mrlife? If you are not using the latest version, you should update and test again. Maybe the problem you have is the same I had and fixed in #79.

[2022-05-12 12:55] adiessl commented on #87
Yes, I also get errors now when building this project. It seems that this is due to the changes from commit https://github.com/koenvzeijl/AspNetCore.SassCompiler/commit/e51b12e82de86bab9139155c12d75e807d2a85ca.

Just to clarify: you tried the NuGet package version in your actual project or you just tried builing the sample Razor class library?

[2022-05-12 13:43] mrlife commented on #87
@adiessl Yes, I did both actually. In my actual project, nothing happens. In the razor class library sample, I get the error.

[2022-05-12 15:34] adiessl commented on #87
Have you configured your project according to the [documentation](https://github.com/koenvzeijl/AspNetCore.SassCompiler#configuration), @mrlife?

[2022-05-12 15:36] mrlife commented on #87
@adiessl I looked through that, but it wasn't clear how it applies to CSS isolation since those .css files can be anywhere in the project.

[2022-05-12 15:59] adiessl commented on #87
Yes. If you did not explicitly configure `AspNetCore.SassCompiler`, the defaults are used. In case of scoped CSS files that means only files in these folders get compiled: `"Views", "Pages", "Shared", "Components"`. If your Razor files are for example in a folder named  `RazorFiles`, the compilation will not include them.

[2022-05-12 16:07] mrlife commented on #87
Thanks for clarifying scoped scss. Here is what I have done so far:

1. Add nugget package: `<PackageReference Include="AspNetCore.SassCompiler" Version="1.51.0.4" />`
2. Change a color in scss file at Components/MyComponent.razor.scss
3. Rebuild the project
4. Check for changes in Components/MyComponent.razor.css

I thinks this should work without configuration, if I'm reading it right.

[2022-05-12 16:18] adiessl commented on #87
If you delete `Components/MyComponent.razor.css` and build the project, does it get created again?

[2022-05-13 07:16] adiessl commented on #87
I created a small demo application: https://github.com/adiessl/SassCompilerDemo

When I build this, the `.razor.scss` file gets compiled. If I change something in it and build again, the change gets reflected in the `.razor.css` file. If you try with this demo, does it work on your side, @mrlife?

[2022-05-13 14:31] mrlife commented on #87
@adiessl Yes, this demo is working on my end. I also see it now works in my project as well. I updated my Visual Studio for Mac since I opened this ticket, so I can only assume something changed with that.

Thanks so much for your help! It's great to have a simple solution to compiling scss files.

[2022-05-20 05:54] sleeuwen commented on #86
Hi @adiessl , thank you for all the PRs you created and help make the library better. It's awesome to hear you were able to improve the compilation time so much compared to LibSassBuilder .

After the last few issues we had with the new releases I also talked with @koenvzeijl that we will need to improve our tests situation to hopefully catch these bugs in the future.

Currently, we reuse the samp

[2022-05-20 07:24] adiessl commented on #86
I would say that testing the MSBuild task would probably only be a final integration test. That could maybe be achieved by deleting all `.css` files of a test project, then running `dotnet build` and verifying if the `.css` files have been generated again.

In order to be able to write unit tests it might be best to extract some code from [CompileSass.cs](https://github.com/koenvzeijl/AspNetCore.S

[2022-05-23 13:21] solrevdev opened #90 "System.TypeInitializationException: The type initializer for 'AspNetCore.SassCompiler.ChildProcessTracker' threw an exception. ---> System.DllNotFoundException: Unable to load shared library 'kernel32.dll' or one of its dependencies."
When running dotent watch I got the following

[code]

My csproj

[code]

My appsettings.json

[code]

Program.cs

[code]

OS:

OS: macOS 11.6.6 20G624 x86_64
Host: Macmini7,1

.NET
[code]

[2022-05-23 16:58] #90 closed

[2022-05-23 17:01] sleeuwen commented on #90
Thanks for reporting this, I don't have a mac so didn't catch that before. I've created a fix that should be available shortly as version 1.52.1.1, can you try that to see if it works?

[2022-05-26 10:33] solrevdev commented on #90
Hi @sleeuwen

So, It seems I have the same as issue #46

This is the workaround what prevented the compiler from restarting over and over again:

I commented out `"ScopedCssFolders": ["Views", "Pages", "Shared", "Components"]`

[code]

Let me know if I can help in any way.

Thanks
John

[2022-05-26 10:39] solrevdev commented on #46
Hi @koenvzeijl not sure if this is helpful or not, but I am still getting this issue with version:

[code]

Please see issue #90 specifically this [comment](https://github.com/koenvzeijl/AspNetCore.SassCompiler/issues/90#issuecomment-1135620680) and this  [comment](https://github.com/koenvzeijl/AspNetCore.SassCompiler/issues/90#issuecomment-1138392668)

[2022-05-26 11:46] sleeuwen commented on #90
Hi @solrevdev , thanks for figuring out what the issue was. I've implemented a fix in another PR that should fix it. The way it was currently implemented caused all the values from your appsettings to be appended to the default values, so it would contain duplicate values for those 4 folders.

[2022-06-02 15:06] solrevdev opened #93 "Docker + Alpine Linux - AspNetCore.SassCompiler.targets(11,5): error : Error running sass compiler:"
I have edited this issue now that I have done some more research and have create a bare repository to help demo the issue:

The issue seems to be when building with an Alpine Linux Docker image with AspNetCore.SassCompiler.

If you inherit from the usual `FROM mcr.microsoft.com/dotnet/sdk:6.0` Ubuntu image then all builds and works as normal however if you inherit from the Alpine version `FROM mcr

[2022-06-10 19:08] solrevdev commented on #93
I'm going to close this as I switched the underlying docker image from alpine to a more standard Ubuntu one, and it now works.

I will once I have time try to debug why the alpine one didn't work and will update here for reference.

Sorry if you wasted any time on this

[2022-06-11 20:21] solrevdev commented on #93
I have reopened this as I've narrowed down the issue a little and have created a repo to help diagnose over at https://github.com/solrevdev/aspnetcore-alpine-sass

[2022-06-13 12:20] a-van-rooyen commented on #93
I'm having the exact same issue.

Looking at this issue in the following days.

[2022-06-13 12:36] a-van-rooyen commented on #93
I will take a look at your repository next

[2022-06-13 12:45] a-van-rooyen commented on #93
All I could do was compile the Dockerfile, still had some unexplained errors thereafter, looking into those first.

[2022-06-13 12:45] solrevdev commented on #93
Very interesting!

So that didn't work for me yet your  3 lines worked. Yours uses `glibc-2.34-r0.apk` where as I grabbed from the source site  `glibc-2.35-r0.apk`

See my comments

[code]

[2022-06-13 13:05] a-van-rooyen commented on #93
Very interesting! Happy to see that it compiles successfully now :smile:

Damn version compatibility :joy:

[2022-06-13 14:21] solrevdev commented on #93
Thanks @a-van-rooyen for your `glibc-2.34-r0.apk` fix.

[2022-06-13 14:21] #93 closed

[2022-06-22 03:48] 121GWJolt opened #96 "In-process SASS processing"
Currently, I am working on a project in which I want to do occasional runtime SASS processing. There was once a package to do this, but it has not been updated in years to the point I doubt it will work all that well.

I'd essentially like the option of having some static object available where I could just convert a given string of SCSS to a string of CSS. It could be expanded upon later, but sin

[2022-07-04 06:01] patricksadowski opened #98 "in-place compilation"
**Is your feature request related to a problem? Please describe.**
I hoped to move from [LibSassBuilder](https://github.com/johan-v-r/LibSassBuilder) to [DartSassBuilder](https://github.com/deanwiseman/DartSassBuilder) but the latter one seems to be dead. What I like about _DartSassBuilder_ is the in-place compilation of scss files. Css files are located beside scss files. No input or output folde

[2022-07-04 06:11] koenvzeijl commented on #98
Hi @patricksadowski , I totally get what you mean. But it's actually optional to use the input and output folders as you can also make use of the `ScopedCssFolders` and set `GenerateScopedCss` to true

[2022-07-07 09:47] patricksadowski commented on #98
My current sasscompiler.json contains
[code]
and it's working. So, the thanks are yours.

Now, I have to copy the configuration to several projects in the same repo. I would like to place the configuration once in root. That would be a great feature: use the configuration up in the directory tree. Even better would be a "install and forget" package for a simple sass compilation use case without co

[2022-07-26 15:18] koenvzeijl commented on #98
@patricksadowski We have an install and forget option as it already uses the defaults. But the default looks in the `/Styles` folder and compiles the files to the `wwwroot/css` folder. I think this is the most common use case. Do you agree? I understand that using the ScopedCssFolders wildcard is very useful for your project but may cause unwanted files to be generated for other users. Please tell

[2022-08-02 10:00] patricksadowski commented on #98
@koenvzeijl I agree. We changed some points in our repo so your package fits better.

[2022-08-02 10:00] #98 closed

[2022-08-04 06:46] patricksadowski opened #102 "Support architecture arm64"
**Is your feature request related to a problem? Please describe.**
We use several CI systems including arm64. Build stops with
[code]

**Describe the solution you'd like**
Extend your GitHub Workflow `update-sass`

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-08-04 18:55] sleeuwen commented on #102
Hi @patricksadowski ,
Thanks for reporting the issue, it does look like dart-sass does provide linux-arm64 binaries which we can include in the nuget. This does need some extra changes as we currently always assume x64 architecture.
I'll try to get this included tomorrow and then release  v1.54.2 of which there is currently an open PR.

[2022-08-05 12:46] br4mbor commented on #102
Just quick question. Are you going to include macos-arm64 libraries for Apple Silicon Macs?

[2022-08-05 18:11] sleeuwen commented on #102
@patricksadowski @br4mbor I've just released v1.54.3 which include the binaries for linux-arm64 and macos-arm64. However, as I don't personally have an arm64 device to test this on, can you verify if it is working?

[2022-08-05 18:23] patricksadowski commented on #102
If our CI system works then it's fixed. Hopefully, I can try it on monday.

[2022-08-08 09:56] patricksadowski commented on #102
@sleeuwen Our CI system is able to execute
`AspNetCore.SassCompiler`. Thank you 👍

[2022-08-08 09:56] #102 closed

[2022-08-13 16:39] RacerDelux commented on #74
I had not heard back on this yet, any thoughts?

[2022-08-16 19:23] #74 closed

[2022-08-16 19:27] sleeuwen commented on #74
Hi @RacerDelux , Sorry for the delay, I've fixed the issue about the duplicate app.css asset. It seems like maui is more restrictive about duplicate content files as we always included all generated css files in the `<Content />` itemgroup, but if they were already generated from a previous build, they would already be in the `<Content />` group thus resulting in duplicate entries. For the other a

[2022-08-21 08:58] axekan opened #109 "Allow aliased file paths when importing through scss files"
Add configuration for custom module paths similar to ESM. A feature when using JavaScript modules is that you can add something like this to jsconfig/tsconfig:

[code]

This will allow the compiler to use these paths to resolve imports in your different modules. Could something similar be done with sass imports?

I've run into a problem where I have many scoped scss files in my project, at differe

[2022-08-21 20:50] sleeuwen commented on #109
Hi @axekan , thanks for reporting the issue. As we use the dart-sass cli underneath to compile the scss files, we can make use of the --load-path option to do basically the same thing as what you described in your webpack example.

I will try to add a specific setting for this in the next few days. In the meantime, you can actually already do this yourself by making use of the "Arguments" setting

[2022-08-22 17:31] #109 closed

[2022-10-06 21:07] jakenuts opened #115 "Non-Critical Question"
So I've been trying to get a handle on how to use sass in both web project and several RCL projects that get composed into it. Having tried all the various packages and extensions this one remains the easiest to use and the most seamless. I would love to be able to configure more than one project/path and watch that, but that's for another day.

My question is, when I have this package installed a

[2022-10-26 15:17] sleeuwen commented on #115
Hi @jakenuts ,

It would sound like there is another program that is generating the css files occasionally, this package doesn't do anything special at design time, but I will describe in which cases we generate the css files.

1. When the package is installed in a project, a MSBuild target is automatically added for that project that will run the sass command on your files when you build your pro

[2022-10-26 19:30] jakenuts commented on #115
Thanks! If I remove the package, the files are no longer generated at design time. Not sure how that is happening with the package but as far as I know there are no special extensions or packages that might be the culprit.

[2022-11-07 14:14] mikes-gh opened #117 "net7 Support"
Do you think this is just a case of adding net7.0 to the target frameworks.
I would be happy to work with you on testing.
We would like our build to only need net7 SDK

[2022-11-07 21:23] sleeuwen commented on #117
Hi @mikes-gh ,

The package should already work on .net 7, even without specifying the target framework explicitly. The dll for .net 6 that's included in the nupkg can be used from the .net 7 SDK in a .net 7 app.

Please try it out and do let us know if you run into problems using the package on .net 7.

[2022-11-08 13:36] mikes-gh opened #118 "Cannot build from clone"
**Describe the bug**

Cant build from clone

**To Reproduce**

1. `git clone https://github.com/koenvzeijl/AspNetCore.SassCompiler.git -o AspNetCore.SassCompiler`
2. `cd AspNetCore.SassCompiler`
3. `dotnet build`
4. See error below

[code]

**Expected behavior**
Build successfully

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followin

[2022-11-08 14:01] mikes-gh commented on #118
additionally
`dotnet build --configuration Release`
works

[2022-11-08 14:58] mikes-gh opened #120 "Source.scss -> Target.min.css"
**Is your feature request related to a problem? Please describe.**
I want to be able to define the name of the output file.
I am happy to PR this

**Describe the solution you'd like**
`[Obselete] `
`SourceFolder` and `TargetFolder`
in favour of
`Source` and `Target` parameters.
Check if the parameters are directories or files and follow appropriate logic.

Any of the following should be able to wo

[2022-11-08 15:10] mikes-gh commented on #120
Another design could be `SourceTargetPairs []`

Its not my use case but is more flexible.

[code]

[2022-11-21 18:52] sleeuwen commented on #120
Hi @mikes-gh,
We directly pass the arguments to the dart-sass executable that does the conversion and creates the .css file. This does however mean that if you use a folder as the source you can't specify the resulting filename. You currently can already specify a filename for both SourceFolder and TargetFolder and I think that should work the same, however I agree it is confusing to have Folder i